* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #190361 0%, #B0F 100%);
}

main {
  display: flex;
  width: 42.8rem;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 0.5rem;
  background: #FFF;
  box-shadow: 0rem 2rem 5rem 0rem rgba(0, 0, 0, 0.80);
}

main h1 {
  color: #34355B;
  text-align: center;
  font-size: 2.4rem;
  font-family: Montserrat;
  font-weight: 700;
}

.screen1 p {
  color: #34355B;
  text-align: center;
  font-size: 1.5rem;
  font-family: DM Sans;
  margin: 1.4rem auto 2rem;
}

.closedCookie, button {
  cursor: pointer;
}

.closedCookie:hover {
  animation: tremolo 500ms;
  animation-iteration-count: infinite;
}

@keyframes tremolo {

  0% {
    transform: translateY(-10px);
  }
}

.hide {
  display: none;
}


/* screen2 */

main {
  display: flex;
  width: 42.8rem;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.screen2 p {
  color: #000;
  text-align: center;
  font-size: 2.4rem;
  font-family: Dancing Script;

  background: #E4EDF1;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
  padding: 1rem;
  margin: 1.7rem auto;

  animation: reveals 1300ms;
}

button {
  color: #FFF;
  text-align: center;
  font-size: 1.5rem;
  font-family: DM Sans;
  font-weight: 700;

  padding: 1.6rem;
  border-radius: 0.4rem;
  background: #FF9500;
  border: none;
}

body {
  background: linear-gradient(45deg, #190361, #bb00ff);
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

@keyframes reveals {
  0% {
    transform: translateY(150px) scale(0.1);
  }
}